TELEGRAM_BOT_TOKEN = "YOUR_BOT_TOKEN"
ALLOWED_USERS = {123456789}
SERVER_IP = "YOUR_SERVER_IP"
PUBLIC_KEY = "PUBLIC_KEY_FROM_XRAY"
SHORT_ID = "YOUR_SHORT_ID"
SNI = "www.microsoft.com"

# Hysteria2
HYSTERIA_PASSWORD = "HYS_PASSWORD"
HYSTERIA_PORT = 8443
HYSTERIA_OBFS = "salamander"

# SplitHTTP
SPLIT_PORT = 8081
SPLIT_PATH = "/stream"